<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
<wb-module deploy-name="crud">
<wb-resource deploy-path="/" source-path="/WebContent"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/src_java"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/test_java"/>
<wb-resource deploy-path="/" source-path="/bin-debug"/>
<wb-resource deploy-path="/" source-path="/flex_src"/>
<property name="java-output-path" value="build/classes"/>
<property name="context-root" value="crud"/>
</wb-module>
</project-modules>
